<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BLZServiceSOAP11Binding" />
            </basicHttpBinding>
            <customBinding>
                <binding name="BLZServiceSOAP12Binding">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="http://www.thomas-bayer.com/axis2/services/BLZService"
                binding="basicHttpBinding" bindingConfiguration="BLZServiceSOAP11Binding"
                contract="BLZServicePortType" name="BLZServiceSOAP11port_http" />
            <endpoint address="http://www.thomas-bayer.com/axis2/services/BLZService"
                binding="customBinding" bindingConfiguration="BLZServiceSOAP12Binding"
                contract="BLZServicePortType" name="BLZServiceSOAP12port_http" />
        </client>
    </system.serviceModel>
</configuration>